#preloader {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgb(21, 25, 31) url(../assets/images/background-loader.gif)
    no-repeat center center;
  background-size: cover;
  height: 100vh;
  background-size: 35%;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: opacity 1s ease-in-out;
}
.hide-preloader {
  opacity: 0;
  pointer-events: none;
}

.ranking-page {
  @include center-items;
  justify-content: center;
  .ranking-container {
    width: 1050px;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;

    @include for-size(tablet) {
      width: 690px;
      padding: 40px 0px;
    }
    @include for-size(mobile) {
      width: 315px;
      padding: 30px 0px;
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h1 {
        font-size: 51px;
        font-weight: 600;
        line-height: 110%;
        @include for-size(tablet) {
          font-size: 38px;
        }
      }
      p {
        font-size: 22px;
        font-weight: 400;
        line-height: 160%;

        @include for-size(tablet) {
          font-size: 16px;
        }
      }
    }
    .navigation-items {
      @include center-items;
      justify-content: center;
      gap: 30px;
      text-align: center;
      padding: 0px 30px;

      @include for-size(tablet) {
        padding: 0px 10px;
        gap: 10px;
      }

      :first-child {
        color: white;
      }

      p {
        width: 262.5px;
        height: 60px;
        font-size: 22px;
        font-weight: 600;
        line-height: 140%;
        color: #858584;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: #a259ff;
        }
        @include for-size(tablet) {
          font-size: 16px;
        }
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .thead {
        display: flex;
        width: 1050px;
        height: 46px;
        padding: 12px 0px;
        align-items: center;
        gap: 50px;
        border-radius: 20px;
        border: 1px solid #3b3b3b;
        @include for-size(tablet) {
          width: 690px;
          gap: 10px;
        }
        @include for-size(mobile) {
          width: 315px;
          gap: 10px;
        }

        p {
          cursor: pointer;

          &:hover {
            color: #00ac4f;
          }
        }
        .artist {
          padding: 0px 20px;
          width: 430px;
          display: flex;
          gap: 20px;
          @include for-size(tablet) {
            width: 410px;
          }
          @include for-size(mobile) {
            width: 215px;
          }

          th {
            font-family: "Space Mono";
            font-size: 16px;
            color: #858584;
            font-weight: 400;
            line-height: 140%;
          }
        }
        .rest {
          display: flex;
          gap: 20px;
          justify-content: space-between;
          padding: 0px 20px;

          @include for-size(mobile) {
            width: 100px;
            padding: 0px;
          }

          .sort-nft-sold {
            @include for-size(tablet) {
              display: none;
            }
          }

          .sort-change,
          .sort-volume {
            @include for-size(tablet) {
              width: 100px;
            }
          }
          .sort-change {
            @include for-size(mobile) {
              display: none;
            }
          }
          p {
            width: 160px;
            font-family: "Space Mono";
            font-size: 16px;
            color: #858584;
            font-weight: 400;
            line-height: 140%;
            &:hover {
              color: #00ac4f;
            }
          }
        }
      }
    }
  }
}
