.subhead{
    display: flex;
padding: 80px 0px;
flex-direction: column;
align-items: center;

@include for-size(tablet){
    padding: 60px 0px;
}
@include for-size(mobile){
    padding: 40px 0px;
    min-width: 375px;
}
    .subhead-container{
        width: 1050px;
        display: flex;
        flex-direction: column;
        gap:30px;
        
        @include for-size(tablet){
            width: 680px;
        }
        @include for-size(mobile){
            width: 315px;
        }
        .headline{
            display: flex;
            flex-direction: column;
            gap:10px;
        }
    }
}