.trending {
  padding: 80px 0px;
  @include center-items;
  flex-direction: column;
  @include for-size(tablet){
    padding: 40px 0px;
  }
  @include for-size(mobile){
    min-width: 375px;
    justify-content: center;
    
  }
  .trending-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:60px;
    @include for-size(mobile){
      width: 315px;
    }
    .headline {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        font-size: 38px;
        font-weight: 600;
        line-height: 120%;
      }
      p {
        font-size: 22px;
        font-weight: 400;
        line-height: 160%;
      }
    }
    .card-collection{
        display: flex;
        gap:30px;
        .card:nth-child(3){
            @include for-size(tablet){
                display: none;
            }
        }
        .card:nth-child(2){
          @include for-size(mobile){
            display: none;
        }
        }
    }
  }
}
