header {
  width: 100%;
  height: 100px;
  padding: 20px 50px;
  @include for-size(tablet){
    padding: 15px 50px;
  }
  @include for-size(mobile){
    padding: 15px 30px;
  }
  .navbar-container {
    .navbar {
      @include center-items;
      justify-content: space-between;
      .left-side{
        cursor: pointer;
      }
      .right-side {
        @include center-items;
        gap: 10px;
        a {
          @include navbar-page-link-style;
          transition: 0.3s;

          &:hover{
            transform: scale(1.1);
            color: #A259FF;
          }
          @include for-size(tablet){
            display: none;
        }
        }
        .sidebar-icon{
            display: none;
            @include for-size(tablet){
                display: initial;
            }
        }
      }
    }
  }
}
