.page-footer {
  padding: 40px 195px;
  background-color: #3b3b3b;
  @include center-items;
  flex-direction: column;
  height: 100%;
  .border-line {
    width: 100%;
    height: 1px;
    background-color: #858584;

    @include for-size(tablet) {
      margin-top: 49px;
    }
    @include for-size(mobile){
      min-width: 375px;
  }
  }

  .footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 84px;

    @include for-size(mobile){
        width: 315px;
    }
    h4 {
      font-family: "Space Mono";
      font-size: 22px;
      font-weight: 700;
      line-height: 160%;
    }
    p {
      color: #ccc;

      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
    }
    @include for-size(tablet) {
      flex-direction: column;
      gap: 30px;
    }

    .nft-marketplace {
      #nft {
        @include center-items;
        gap: 12px;
      }
      .subscription {
        display: flex;
        width: 420px;

        @include for-size(mobile){
            flex-direction: column;
        }

        .submit-btn {
          position: relative;
          right: 30px;
          @include for-size(mobile){
            position: initial;
            margin-top: 16px;
        }

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
.header {
  margin-bottom: 22px;
}
.nav-panel {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: rgba(162, 89, 255, 1);
    }
  }
}
.social-media {
  img {
    cursor: pointer;
  }
}
