.auction-timer {
  display: flex;
  width: 295px;
  height: 100%;
  padding: 30px;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
  border: 3px solid transparent;
  transition: 0.3s;
 

  &:hover {
    border-color: aqua;
    transform: scale(1.1);
  }

  .time {
    font-family: "Space Mono";
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
  }

  .hours-minutes-seconds {
    @include center-items;
    gap: 10px;
    p {
      font-family: "Space Mono";
      font-size: 38px;
      font-weight: 700;
      line-height: 120%;
    }
  }
  .timings {
    @include center-items;
    justify-content: space-between;
    p {
      font-family: "Space Mono";
      font-size: 12px;
      font-weight: 400;
      line-height: 110%;
    }
  }
}
