.option-box {
  @include center-items;
  width: 330px;
  padding: 10px 30px 30px 30px;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  background-color: #3b3b3b;

  .information {
    @include center-items;
    flex-direction: column;
    gap: 10px;

    h6 {
      font-size: 22px;
      font-weight: 600;
      line-height: 140%;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
    }
  }
}
