.searchbar {
  display: flex;
  width: 1050px;
  height: 60px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #3B3B3B;

  @include for-size(tablet){
    width: 680px;
}
@include for-size(mobile){
    width: 315px;
}

  .searchInput{
    width: 960px;
    background: transparent;
    outline: none;
    border: none;
    color:white;

    @include for-size(tablet){
        width: 590px;
    }
    
    @include for-size(mobile){
        width: 230px;
    }
  }
}
