* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

body {
  width: 100%;
  height: 100%;
  background-color: #2B2B2B;
  color: white;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
}
header {
  width: 100%;
  height: 100px;
  padding: 20px 50px;
}
@media screen and (max-width: 1050px) {
  header {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 690px) {
  header {
    padding: 15px 30px;
    min-width: 375px;
  }
}
header .navbar-container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar-container .navbar .left-side {
  display: flex;
  cursor: pointer;
  gap: 12px;
  align-items: center;
}
header .navbar-container .navbar .left-side a {
  text-decoration: none;
  font-family: "Space Mono";
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  color: white;
}
header .navbar-container .navbar .right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .navbar-container .navbar .right-side a {
  padding: 0px 20px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-decoration: none;
  transition: 0.3s;
}
header .navbar-container .navbar .right-side a:hover {
  transform: scale(1.1);
  color: #a259ff;
}
@media screen and (max-width: 1050px) {
  header .navbar-container .navbar .right-side a {
    display: none;
  }
}
header .navbar-container .navbar .right-side .sidebar-icon {
  display: none;
}
@media screen and (max-width: 1050px) {
  header .navbar-container .navbar .right-side .sidebar-icon {
    display: initial;
  }
}

.signup {
  width: 152px;
  height: 60px;
  background-color: #A259FF;
  padding: 0px 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 140%;
  justify-content: center;
  border: 2px solid transparent;
  gap: 12px;
}
.signup:hover {
  background-color: transparent;
  border-color: #A259FF;
}

.hero-section {
  width: 100%;
  display: flex;
  padding: 80px 195px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1050px) {
  .hero-section {
    padding: 80px 0px;
    gap: 20px;
  }
}
@media screen and (max-width: 690px) {
  .hero-section {
    padding: 40px 0px;
    min-width: 375px;
    align-items: center;
    justify-content: center;
  }
}
.hero-section .hero-container {
  width: 1050px;
  margin-left: -80px;
  margin-right: -80px;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container {
    width: 690px;
    margin: 0px;
  }
}
@media screen and (max-width: 690px) {
  .hero-section .hero-container {
    flex-direction: column;
    width: 315px;
  }
}
.hero-section .hero-container .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 510px;
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .left {
    width: 330px;
  }
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .left {
    gap: 10px;
  }
}
.hero-section .hero-container .left h1 {
  font-size: 67px;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .left h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .left h1 {
    font-size: 28px;
  }
}
.hero-section .hero-container .left p {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .left p {
    font-size: 16px;
  }
}
.hero-section .hero-container .left .info-tags {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero-section .hero-container .left .info-tags .sale,
.hero-section .hero-container .left .info-tags .auctions,
.hero-section .hero-container .left .info-tags .artists {
  width: 150px;
}
.hero-section .hero-container .left .info-tags .sale p,
.hero-section .hero-container .left .info-tags .auctions p,
.hero-section .hero-container .left .info-tags .artists p {
  font-size: 23.99px;
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .left .info-tags .sale p,
.hero-section .hero-container .left .info-tags .auctions p,
.hero-section .hero-container .left .info-tags .artists p {
    font-size: 16px;
  }
}
.hero-section .hero-container .left .info-tags h3 {
  font-family: "Space Mono";
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .left .info-tags h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 690px) {
  .hero-section .hero-container .left .info-tags {
    visibility: hidden;
    height: 0px;
  }
}
.hero-section .hero-container .right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .right {
    width: 315px;
  }
}
.hero-section .hero-container .right .gif {
  width: 510px;
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .right .gif {
    width: 330px;
  }
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .right .gif {
    width: 315px;
  }
}
.hero-section .hero-container .right .start {
  visibility: hidden;
}
@media screen and (max-width: 690px) {
  .hero-section .hero-container .right .start {
    visibility: visible;
    display: flex;
    width: 315px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #a259ff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    cursor: pointer;
    transition: 0.3s;
    border: none;
  }
  .hero-section .hero-container .right .start:hover {
    transform: scale(0.9);
  }
}
.hero-section .hero-container .right .info-tags {
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero-section .hero-container .right .info-tags .sale,
.hero-section .hero-container .right .info-tags .auctions,
.hero-section .hero-container .right .info-tags .artists {
  width: 150px;
}
.hero-section .hero-container .right .info-tags .sale p,
.hero-section .hero-container .right .info-tags .auctions p,
.hero-section .hero-container .right .info-tags .artists p {
  font-size: 23.99px;
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .right .info-tags .sale p,
.hero-section .hero-container .right .info-tags .auctions p,
.hero-section .hero-container .right .info-tags .artists p {
    font-size: 16px;
  }
}
.hero-section .hero-container .right .info-tags h3 {
  font-family: "Space Mono";
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-container .right .info-tags h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 690px) {
  .hero-section .hero-container .right .info-tags {
    visibility: visible;
  }
}

.get-started {
  display: flex;
  width: 224px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background-color: #a259ff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
.get-started:hover {
  transform: scale(0.9);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@media screen and (max-width: 690px) {
  .get-started {
    visibility: hidden;
    height: 0px;
  }
}

.trending {
  padding: 80px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1050px) {
  .trending {
    padding: 40px 0px;
  }
}
@media screen and (max-width: 690px) {
  .trending {
    min-width: 375px;
    justify-content: center;
  }
}
.trending .trending-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 690px) {
  .trending .trending-container {
    width: 315px;
  }
}
.trending .trending-container .headline {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.trending .trending-container .headline h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
}
.trending .trending-container .headline p {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}
.trending .trending-container .card-collection {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1050px) {
  .trending .trending-container .card-collection .card:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  .trending .trending-container .card-collection .card:nth-child(2) {
    display: none;
  }
}

.card {
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card img {
  cursor: pointer;
  transition: all 0.3s ease;
}
.card img:hover {
  transform: scale(0.94);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card .small-imgs {
  display: flex;
  align-items: center;
  gap: 15px;
}
.card .small-imgs .more {
  width: 100px;
  height: 100px;
  background-color: #a259ff;
  border: none;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-family: "Space Mono";
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  text-transform: capitalize;
  transition: 0.3s;
  cursor: pointer;
}
.card .small-imgs .more:hover {
  transform: scale(0.94);
}
.card .artist-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .artist-info h4 {
  font-size: 22px;
}
.card .artist-info .account-name {
  display: flex;
  align-items: center;
  gap: 12px;
}
.card .artist-info .account-name p {
  cursor: pointer;
  transition: 0.3s;
}
.card .artist-info .account-name p:hover {
  color: #a259ff;
}

.toprated {
  display: flex;
  align-items: center;
  padding: 80px 195px;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 1050px) {
  .toprated {
    padding: 40px 0px;
  }
}
@media screen and (max-width: 690px) {
  .toprated {
    min-width: 375px;
  }
}
.toprated .view-bottom {
  visibility: hidden;
  height: 0;
}
@media screen and (max-width: 690px) {
  .toprated .view-bottom {
    visibility: visible;
    height: 60px;
  }
}
.toprated .toprated-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 1050px) {
  .toprated .toprated-container {
    gap: 40px;
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  .toprated .toprated-container {
    width: 315px;
  }
}
.toprated .top-part {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 1050px;
}
@media screen and (max-width: 1050px) {
  .toprated .top-part {
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  .toprated .top-part {
    width: 315px;
  }
}
.toprated .top-part .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 690px) {
  .toprated .top-part .left {
    width: 315px;
  }
}
.toprated .top-part .left h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
}
@media screen and (max-width: 1050px) {
  .toprated .top-part .left h3 {
    font-size: 28px;
  }
}
.toprated .top-part .left p {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}
@media screen and (max-width: 1050px) {
  .toprated .top-part .left p {
    font-size: 16px;
    width: 315px;
  }
}
.toprated .artists-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1050px) {
  .toprated .artists-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 690px) {
  .toprated .artists-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 50px;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid #a259ff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  cursor: pointer;
  transition: 0.3s;
}
.view:hover {
  transform: scale(0.95);
}
@media screen and (max-width: 690px) {
  .view {
    display: none;
  }
}

.view-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 50px;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid #a259ff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  cursor: pointer;
  transition: 0.3s;
}
.view-bottom:hover {
  transform: scale(0.95);
}

.artist-card {
  width: 240px;
  height: 238px;
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
.artist-card i {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  right: 10px;
  color: grey;
  font-size: 16px;
  transition: 0.2s;
}
.artist-card i:hover {
  transform: scale(1.1);
  color: rgba(255, 0, 0, 0.281);
}
.artist-card i.heart-icon-clicked {
  color: red;
}
.artist-card:hover {
  transform: scale(0.94);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.artist-card .artist-id {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #2b2b2b;
  position: absolute;
  border-radius: 20px;
  z-index: 10;
  top: 18px;
  left: 20px;
  font-family: "Space Mono";
  font-size: 16px;
  color: #858584;
}
@media screen and (max-width: 1050px) {
  .artist-card .artist-id {
    top: 12px;
    left: 13px;
  }
}
@media screen and (max-width: 1050px) {
  .artist-card {
    width: 315px;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.artist-card .user-avatar {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  border-radius: 100px;
}
@media screen and (max-width: 1050px) {
  .artist-card .user-avatar {
    margin: 0px;
    width: 60px;
    height: 60px;
  }
}
.artist-card .art-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  .artist-card .art-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.artist-card h5 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 5px;
}
.artist-card .top-sales {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1050px) {
  .artist-card .top-sales {
    flex-direction: column;
  }
}
.artist-card .top-sales .total {
  color: #858584;
}
.artist-card .top-sales .sales {
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.toprated {
  display: flex;
  align-items: center;
  padding: 80px 195px;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 1050px) {
  .toprated {
    padding: 40px 0px;
  }
}
@media screen and (max-width: 690px) {
  .toprated {
    min-width: 375px;
  }
}
.toprated .view-bottom {
  visibility: hidden;
  height: 0;
}
@media screen and (max-width: 690px) {
  .toprated .view-bottom {
    visibility: visible;
    height: 60px;
  }
}
.toprated .toprated-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 1050px) {
  .toprated .toprated-container {
    gap: 40px;
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  .toprated .toprated-container {
    width: 315px;
  }
}
.toprated .top-part {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 1050px;
}
@media screen and (max-width: 1050px) {
  .toprated .top-part {
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  .toprated .top-part {
    width: 315px;
  }
}
.toprated .top-part .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 690px) {
  .toprated .top-part .left {
    width: 315px;
  }
}
.toprated .top-part .left h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
}
@media screen and (max-width: 1050px) {
  .toprated .top-part .left h3 {
    font-size: 28px;
  }
}
.toprated .top-part .left p {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}
@media screen and (max-width: 1050px) {
  .toprated .top-part .left p {
    font-size: 16px;
    width: 315px;
  }
}
.toprated .artists-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1050px) {
  .toprated .artists-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 690px) {
  .toprated .artists-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.browse {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 195px;
}
@media screen and (max-width: 690px) {
  .browse {
    padding: 40px 0px;
    min-width: 375px;
  }
}
.browse .browse-container {
  display: flex;
  gap: 60px;
  flex-direction: column;
  width: 1050px;
}
@media screen and (max-width: 1050px) {
  .browse .browse-container {
    width: 690px;
    gap: 40px;
  }
}
@media screen and (max-width: 690px) {
  .browse .browse-container {
    width: 315px;
    gap: 20px;
  }
}
.browse .browse-container .browse-headline h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
}
@media screen and (max-width: 1050px) {
  .browse .browse-container .browse-headline h2 {
    font-size: 28px;
  }
}
.browse .browse-container .browse-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 690px) {
  .browse .browse-container .browse-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.collection-card {
  width: 240px;
  height: 316px;
  border-radius: 20px;
  background-color: #3b3b3b;
  cursor: pointer;
  transition: 0.3s;
}
.collection-card:hover {
  transform: scale(0.94);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@media screen and (max-width: 1050px) {
  .collection-card {
    width: 150px;
    height: 209px;
  }
}
.collection-card .image-section {
  width: 240px;
  height: 240px;
  position: relative;
}
@media screen and (max-width: 1050px) {
  .collection-card .image-section {
    width: 150px;
    height: 142px;
  }
}
@media screen and (max-width: 1050px) {
  .collection-card .image-section .art {
    width: 150px;
    height: 142px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .collection-card .image-section .art {
    width: 150px;
  }
}
.collection-card .image-section .blur-layer {
  width: 240px;
  height: 240px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  z-index: 7;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
@media screen and (max-width: 1050px) {
  .collection-card .image-section .blur-layer {
    width: 150px;
    height: 142px;
  }
}
.collection-card .image-section .icon {
  position: absolute;
  z-index: 90;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.collection-card .bottom-part {
  padding: 20px 30px 25px 30px;
}
.collection-card .bottom-part h5 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
@media screen and (max-width: 1050px) {
  .collection-card .bottom-part h5 {
    font-size: 16px;
  }
}

.discover-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 195px;
}
@media screen and (max-width: 1050px) {
  .discover-section {
    padding: 40px 195px 80px 195px;
  }
}
@media screen and (max-width: 690px) {
  .discover-section {
    min-width: 375px;
  }
}
.discover-section .discover-container {
  width: 1050px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 1050px) {
  .discover-section .discover-container {
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  .discover-section .discover-container {
    width: 315px;
  }
}
.discover-section .discover-container .discover-headline {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media screen and (max-width: 1050px) {
  .discover-section .discover-container .discover-headline {
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  .discover-section .discover-container .discover-headline {
    width: 315px;
  }
}
@media screen and (max-width: 690px) {
  .discover-section .discover-container .discover-headline .see-all {
    display: none;
  }
}
.discover-section .discover-container .discover-headline .left {
  width: 763px;
}
.discover-section .discover-container .discover-headline .left h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
}
.discover-section .discover-container .discover-headline .left p {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}
.discover-section .discover-container .nft-container {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 690px) {
  .discover-section .discover-container .nft-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1050px) {
  .discover-section .discover-container .nft-container .nft-card:last-child {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  .discover-section .discover-container .nft-container .nft-card:last-child {
    display: initial;
  }
}

.see-all {
  height: 60px;
  border: 2px solid #a259ff;
  background-color: transparent;
  border-radius: 20px;
  padding: 0px 50px;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}
.see-all:hover {
  transform: scale(0.95);
}

.nft-card {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 330px;
  background-color: #3b3b3b;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 690px) {
  .nft-card {
    width: 315px;
  }
}
@media screen and (max-width: 690px) {
  .nft-card .head {
    width: 315px;
  }
}
.nft-card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.nft-card .info-part {
  padding: 20px 30px 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nft-card .middle-part,
.nft-card .footer-info {
  width: 270px;
  display: flex;
  gap: 20px;
}
.nft-card .middle-part .left,
.nft-card .footer-info .left {
  width: 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nft-card .middle-part .right,
.nft-card .footer-info .right {
  width: 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nft-card .middle-part .left,
.nft-card .middle-part .right,
.nft-card .footer-info .left,
.nft-card .footer-info .right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nft-card .middle-part .left .price,
.nft-card .middle-part .right .price,
.nft-card .footer-info .left .price,
.nft-card .footer-info .right .price {
  font-family: "Space Mono";
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
}
.nft-card .middle-part {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nft-card .middle-part h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
}
.nft-card .middle-part .user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nft-card .middle-part .user-info img {
  width: 24px;
  height: 24px;
  border-radius: 120px;
}
.nft-card .middle-part .user-info p {
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.nft-section {
  height: auto;
  background-image: url(../assets/images/mushroom-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  mix-blend-mode: normal;
}
@media screen and (max-width: 1050px) {
  .nft-section {
    align-self: stretch;
  }
}
@media screen and (max-width: 690px) {
  .nft-section {
    min-width: 375px;
  }
}
.nft-section .gradient-layer {
  display: flex;
  align-items: center;
  align-self: stretch;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, rgb(162, 89, 255) 100%);
  background-color: transparent;
  height: auto;
  padding: 360px 195px 60px;
  height: 690px;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 690px) {
  .nft-section .gradient-layer {
    padding: 120px 195px 40px 195px;
  }
}
.nft-section .gradient-layer .content {
  display: flex;
}
@media screen and (max-width: 1050px) {
  .nft-section .gradient-layer .content {
    width: 670px;
  }
}
@media screen and (max-width: 690px) {
  .nft-section .gradient-layer .content {
    width: 315px;
    flex-direction: column;
    gap: 30px;
  }
}
.nft-section .gradient-layer .nft-information {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: column;
  gap: 30px;
  width: 755px;
}
@media screen and (max-width: 690px) {
  .nft-section .gradient-layer .nft-information {
    width: 315px;
  }
}
.nft-section .gradient-layer .nft-information .artist {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 12px;
  border-radius: 20px;
  background-color: #3b3b3b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}
.nft-section .gradient-layer .nft-information .artist:hover {
  transform: scale(0.94);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.nft-section .gradient-layer .nft-information .see-nft {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 22px 50px;
  gap: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.nft-section .gradient-layer .nft-information .see-nft:hover {
  transform: scale(0.94);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.nft-section .gradient-layer .nft-information h1 {
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.auction-timer {
  display: flex;
  width: 295px;
  height: 100%;
  padding: 30px;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 3px solid transparent;
  transition: 0.3s;
}
.auction-timer:hover {
  border-color: aqua;
  transform: scale(1.1);
}
.auction-timer .time {
  font-family: "Space Mono";
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
}
.auction-timer .hours-minutes-seconds {
  display: flex;
  align-items: center;
  gap: 10px;
}
.auction-timer .hours-minutes-seconds p {
  font-family: "Space Mono";
  font-size: 38px;
  font-weight: 700;
  line-height: 120%;
}
.auction-timer .timings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auction-timer .timings p {
  font-family: "Space Mono";
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
}

.how-it-works {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 195px;
}
@media screen and (max-width: 690px) {
  .how-it-works {
    padding: 40px 195px;
  }
}
.how-it-works .work-container {
  width: 1050px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media screen and (max-width: 1050px) {
  .how-it-works .work-container {
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  .how-it-works .work-container {
    width: 315px;
  }
}
.how-it-works .work-container .work-headline h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
  transition: 0.3s;
}
.how-it-works .work-container .work-headline h3:hover {
  color: rgb(162, 89, 255);
}
.how-it-works .work-container .work-headline p {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}
.how-it-works .work-container .option-cards {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 690px) {
  .how-it-works .work-container .option-cards {
    flex-direction: column;
  }
}

.option-box {
  display: flex;
  align-items: center;
  width: 330px;
  padding: 10px 30px 30px 30px;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  background-color: #3b3b3b;
  cursor: pointer;
  transition: 0.3s;
}
.option-box:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@media screen and (max-width: 1050px) {
  .option-box {
    width: 210px;
    padding: 10px 20px 30px 20px;
  }
}
@media screen and (max-width: 690px) {
  .option-box {
    flex-direction: row;
    width: 315px;
    padding: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .option-box img {
    width: 160px;
  }
}
@media screen and (max-width: 690px) {
  .option-box img {
    width: 100px;
  }
}
.option-box .information {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 690px) {
  .option-box .information {
    align-items: flex-start;
  }
}
.option-box .information h6 {
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}
@media screen and (max-width: 1050px) {
  .option-box .information h6 {
    font-size: 16px;
  }
}
.option-box .information p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
@media screen and (max-width: 1050px) {
  .option-box .information p {
    font-size: 12px;
  }
}
@media screen and (max-width: 690px) {
  .option-box .information p {
    text-align: left;
  }
}

.subscribe-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}
@media screen and (max-width: 1050px) {
  .subscribe-widget {
    padding: 40px 0px 80px 0px;
  }
}
@media screen and (max-width: 690px) {
  .subscribe-widget {
    flex-direction: column;
    padding: 40px 0px;
    min-width: 375px;
  }
}
.subscribe-widget .widget-container {
  display: flex;
  align-items: center;
  gap: 80px;
  width: 1050px;
  padding: 60px;
  border-radius: 20px;
  background-color: #3b3b3b;
}
@media screen and (max-width: 1050px) {
  .subscribe-widget .widget-container {
    width: 690px;
    padding: 40px 30px;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 690px) {
  .subscribe-widget .widget-container {
    width: 315px;
    flex-direction: column;
    background: transparent;
  }
}
@media screen and (max-width: 1050px) {
  .subscribe-widget .widget-container .cosmos {
    width: 300px;
  }
}
.subscribe-widget .widget-container .join {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 425px;
}
@media screen and (max-width: 1050px) {
  .subscribe-widget .widget-container .join {
    width: 300px;
  }
}
.subscribe-widget .widget-container .join h1 {
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
}
@media screen and (max-width: 1050px) {
  .subscribe-widget .widget-container .join h1 {
    font-size: 28px;
  }
}
.subscribe-widget .widget-container .join p {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}
.subscribe-widget .widget-container .join .email-subscribe {
  display: flex;
  align-items: center;
  margin-top: 70px;
  position: relative;
}
@media screen and (max-width: 1050px) {
  .subscribe-widget .widget-container .join .email-subscribe {
    width: 300px;
    flex-direction: column;
    position: initial;
    gap: 16px;
  }
}
@media screen and (max-width: 690px) {
  .subscribe-widget .widget-container .join .email-subscribe {
    margin-top: 40px;
  }
}

.subscribe {
  display: flex;
  height: 60px;
  padding: 16px 0px 16px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background-color: white;
  width: 425px;
}
@media screen and (max-width: 1050px) {
  .subscribe {
    gap: 16px;
    width: 300px;
  }
}

.email {
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #2b2b2b;
  outline: none;
}

.submit-btn {
  display: flex;
  align-items: center;
  background-color: #a259ff;
  height: 60px;
  padding: 0px 50px;
  gap: 12px;
  border-radius: 20px;
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1050px) {
  .submit-btn {
    position: initial;
    width: 300px;
    justify-content: center;
  }
}
.submit-btn:hover {
  right: -20px;
}
.submit-btn .submit {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.page-footer {
  padding: 40px 195px;
  background-color: #3b3b3b;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.page-footer .border-line {
  width: 100%;
  height: 1px;
  background-color: #858584;
}
@media screen and (max-width: 1050px) {
  .page-footer .border-line {
    margin-top: 49px;
  }
}
@media screen and (max-width: 690px) {
  .page-footer .border-line {
    min-width: 375px;
  }
}
.page-footer .footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 84px;
}
@media screen and (max-width: 690px) {
  .page-footer .footer-container {
    width: 315px;
  }
}
.page-footer .footer-container h4 {
  font-family: "Space Mono";
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
}
.page-footer .footer-container p {
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
@media screen and (max-width: 1050px) {
  .page-footer .footer-container {
    flex-direction: column;
    gap: 30px;
  }
}
.page-footer .footer-container .nft-marketplace #nft {
  display: flex;
  align-items: center;
  gap: 12px;
}
.page-footer .footer-container .nft-marketplace .subscription {
  display: flex;
  width: 425px;
}
@media screen and (max-width: 690px) {
  .page-footer .footer-container .nft-marketplace .subscription {
    flex-direction: column;
    width: 300px;
  }
}
.page-footer .footer-container .nft-marketplace .subscription .submit-btn {
  position: relative;
  right: 30px;
}
@media screen and (max-width: 690px) {
  .page-footer .footer-container .nft-marketplace .subscription .submit-btn {
    position: initial;
    margin-top: 16px;
  }
}
.page-footer .footer-container .nft-marketplace .subscription .submit-btn:hover {
  transform: scale(1.1);
}

.header {
  margin-bottom: 22px;
}

.nav-panel {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-panel p {
  cursor: pointer;
  transition: 0.3s;
}
.nav-panel p:hover {
  color: rgb(162, 89, 255);
}

.social-media img {
  cursor: pointer;
}

.signup-page .signup-container {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media screen and (max-width: 1050px) {
  .signup-page .signup-container {
    gap: 40px;
  }
}
@media screen and (max-width: 690px) {
  .signup-page .signup-container {
    flex-direction: column;
  }
}
.signup-page .signup-container .left {
  background-image: url(../assets/images/createaccountimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 615px;
  min-width: 397px;
  flex: 1;
  align-self: stretch;
  mix-blend-mode: normal;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
@media screen and (max-width: 690px) {
  .signup-page .signup-container .left {
    flex: none;
  }
}
.signup-page .signup-container .right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}
.signup-page .signup-container .right .toast.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  display: none;
  transition: opacity 0.5s ease-in-out;
}
.signup-page .signup-container .right .toast.notification.show {
  display: block;
}
@media screen and (max-width: 1050px) {
  .signup-page .signup-container .right {
    width: 397px;
  }
}
@media screen and (max-width: 690px) {
  .signup-page .signup-container .right {
    width: 315px;
    align-items: center;
    padding: 30px 0px 40px 0px;
  }
}
.signup-page .signup-container .right .header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.signup-page .signup-container .right .header h1 {
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 330px;
}
form .name,
form .mail,
form .password,
form .repeat-password,
form .submit {
  height: 46px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
  border-radius: 20px;
  border: 1px solid #858584;
}
@media screen and (max-width: 1050px) {
  form .name,
form .mail,
form .password,
form .repeat-password,
form .submit {
    width: 325px;
  }
}
form .name .error-message,
form .mail .error-message,
form .password .error-message,
form .repeat-password .error-message,
form .submit .error-message {
  height: 20px;
  margin-top: 5px;
  color: red;
  position: absolute;
  transform: translateY(30px);
}
form input {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  border: none;
  outline: none;
}
form .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #a259ff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
}
form .submit:hover {
  transform: scale(0.95);
  border-color: rgb(255, 158, 247);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#preloader {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgb(21, 25, 31) url(../assets/images/background-loader.gif) no-repeat center center;
  background-size: cover;
  height: 100vh;
  background-size: 35%;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: opacity 1s ease-in-out;
}

.hide-preloader {
  opacity: 0;
  pointer-events: none;
}

.ranking-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ranking-page .ranking-container {
  width: 1050px;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1050px) {
  .ranking-page .ranking-container {
    width: 690px;
    padding: 40px 0px;
  }
}
@media screen and (max-width: 690px) {
  .ranking-page .ranking-container {
    width: 315px;
    padding: 30px 0px;
  }
}
.ranking-page .ranking-container .header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ranking-page .ranking-container .header h1 {
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
}
@media screen and (max-width: 1050px) {
  .ranking-page .ranking-container .header h1 {
    font-size: 38px;
  }
}
.ranking-page .ranking-container .header p {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}
@media screen and (max-width: 1050px) {
  .ranking-page .ranking-container .header p {
    font-size: 16px;
  }
}
.ranking-page .ranking-container .navigation-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  padding: 0px 30px;
}
@media screen and (max-width: 1050px) {
  .ranking-page .ranking-container .navigation-items {
    padding: 0px 10px;
    gap: 10px;
  }
}
.ranking-page .ranking-container .navigation-items :first-child {
  color: white;
}
.ranking-page .ranking-container .navigation-items p {
  width: 262.5px;
  height: 60px;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  color: #858584;
  cursor: pointer;
  transition: 0.3s;
}
.ranking-page .ranking-container .navigation-items p:hover {
  color: #a259ff;
}
@media screen and (max-width: 1050px) {
  .ranking-page .ranking-container .navigation-items p {
    font-size: 16px;
  }
}
.ranking-page .ranking-container .table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ranking-page .ranking-container .table .thead {
  display: flex;
  width: 1050px;
  height: 46px;
  padding: 12px 0px;
  align-items: center;
  gap: 50px;
  border-radius: 20px;
  border: 1px solid #3b3b3b;
}
@media screen and (max-width: 1050px) {
  .ranking-page .ranking-container .table .thead {
    width: 690px;
    gap: 10px;
  }
}
@media screen and (max-width: 690px) {
  .ranking-page .ranking-container .table .thead {
    width: 315px;
    gap: 10px;
  }
}
.ranking-page .ranking-container .table .thead p {
  cursor: pointer;
}
.ranking-page .ranking-container .table .thead p:hover {
  color: #00ac4f;
}
.ranking-page .ranking-container .table .thead .artist {
  padding: 0px 20px;
  width: 430px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1050px) {
  .ranking-page .ranking-container .table .thead .artist {
    width: 410px;
  }
}
@media screen and (max-width: 690px) {
  .ranking-page .ranking-container .table .thead .artist {
    width: 215px;
  }
}
.ranking-page .ranking-container .table .thead .artist th {
  font-family: "Space Mono";
  font-size: 16px;
  color: #858584;
  font-weight: 400;
  line-height: 140%;
}
.ranking-page .ranking-container .table .thead .rest {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 0px 20px;
}
@media screen and (max-width: 690px) {
  .ranking-page .ranking-container .table .thead .rest {
    width: 100px;
    padding: 0px;
  }
}
@media screen and (max-width: 1050px) {
  .ranking-page .ranking-container .table .thead .rest .sort-nft-sold {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .ranking-page .ranking-container .table .thead .rest .sort-change,
.ranking-page .ranking-container .table .thead .rest .sort-volume {
    width: 100px;
  }
}
@media screen and (max-width: 690px) {
  .ranking-page .ranking-container .table .thead .rest .sort-change {
    display: none;
  }
}
.ranking-page .ranking-container .table .thead .rest p {
  width: 160px;
  font-family: "Space Mono";
  font-size: 16px;
  color: #858584;
  font-weight: 400;
  line-height: 140%;
}
.ranking-page .ranking-container .table .thead .rest p:hover {
  color: #00ac4f;
}

.table-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.table-body .content {
  display: flex;
  gap: 20px;
}
.table-body .content .base .artist-info {
  display: flex;
  width: 1050px;
  height: 84px;
  padding: 12px 20px;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: #3b3b3b;
  justify-content: space-between;
  transition: 0.3s;
  cursor: pointer;
}
.table-body .content .base .artist-info:hover {
  transform: scale(1.01);
  border-color: #00ac4f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media screen and (max-width: 1050px) {
  .table-body .content .base .artist-info {
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  .table-body .content .base .artist-info {
    width: 315px;
    height: 50px;
    gap: 13px;
  }
}
.table-body .content .base .artist-info .id-avatar {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (max-width: 690px) {
  .table-body .content .base .artist-info .id-avatar {
    gap: 10px;
  }
}
.table-body .content .base .artist-info .id-avatar .name {
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
}
@media screen and (max-width: 690px) {
  .table-body .content .base .artist-info .id-avatar .name {
    font-size: 16px;
    font-weight: 400;
    width: 131px;
  }
}
.table-body .content .base .artist-info .id-avatar .avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
@media screen and (max-width: 1050px) {
  .table-body .content .base .artist-info .id-avatar .avatar img {
    width: 24px;
    height: 24px;
    background-color: transparent;
  }
}
.table-body .content .base .artist-info .id-avatar .id {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #858584;
}
@media screen and (max-width: 1050px) {
  .table-body .content .base .artist-info .id-avatar .id {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }
}
@media screen and (max-width: 690px) {
  .table-body .content .base .artist-info .id-avatar .id {
    width: 8px;
    height: 13px;
  }
}
.table-body .content .base .artist-info .status {
  display: flex;
  gap: 20px;
}
.table-body .content .base .artist-info .status .change,
.table-body .content .base .artist-info .status .sold,
.table-body .content .base .artist-info .status .volume {
  width: 160px;
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
@media screen and (max-width: 1050px) {
  .table-body .content .base .artist-info .status .change,
.table-body .content .base .artist-info .status .sold,
.table-body .content .base .artist-info .status .volume {
    width: 100px;
  }
}
@media screen and (max-width: 690px) {
  .table-body .content .base .artist-info .status .change,
.table-body .content .base .artist-info .status .sold,
.table-body .content .base .artist-info .status .volume {
    font-size: 12px;
  }
}
@media screen and (max-width: 1050px) {
  .table-body .content .base .artist-info .status .sold {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  .table-body .content .base .artist-info .status .change {
    display: none;
  }
}
.table-body .content .base .artist-info .status .change {
  color: #00ac4f;
}
.table-body .content .delete {
  width: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.table-body .content .delete:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 690px) {
  .cover-section {
    min-width: 375px;
  }
}
.cover-section .cover-photo {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}
.cover-section .cover-photo .cover {
  align-self: stretch;
  background-color: transparent;
  height: 320px;
  width: 100%;
  mix-blend-mode: normal;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
@media screen and (max-width: 1050px) {
  .cover-section .cover-photo .cover {
    height: 280px;
    width: 100%;
  }
}
@media screen and (max-width: 690px) {
  .cover-section .cover-photo .cover {
    height: 250px;
    min-width: 375px;
  }
}
.cover-section .cover-photo .artist-avatar-container {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  height: auto;
  margin-top: -70px;
  position: relative;
  width: 1050px;
}
@media screen and (max-width: 1050px) {
  .cover-section .cover-photo .artist-avatar-container {
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  .cover-section .cover-photo .artist-avatar-container {
    width: 375px;
    align-items: center;
    justify-content: center;
  }
}
.cover-section .cover-photo .artist-avatar-container .avatar-artist {
  width: 120px;
  height: 120px;
  border: 2px solid #2b2b2b;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.cover-section .cover-photo .artist-avatar-container .avatar-artist:hover {
  transform: scale(1.1);
}
.cover-section .cover-photo .artist-avatar-container .avatar-artist img {
  background-color: transparent;
  height: 120px;
  width: 120px;
  border-radius: 20px;
  mix-blend-mode: normal;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artist-info-section {
  display: flex;
  align-items: center;
  padding: 40px 0px;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1050px) {
  .artist-info-section {
    padding: 30px 0px;
  }
}
.artist-info-section .artist-container {
  display: flex;
  width: 1050px;
  gap: 100px;
}
@media screen and (max-width: 1050px) {
  .artist-info-section .artist-container {
    width: 690px;
    gap: 30px;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 690px) {
  .artist-info-section .artist-container {
    width: 315px;
    gap: 30px;
    flex-direction: column-reverse;
  }
}
.artist-info-section .artist-container .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 599px;
}
@media screen and (max-width: 690px) {
  .artist-info-section .artist-container .left {
    width: 315px;
  }
}
.artist-info-section .artist-container .left .name {
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
}
@media screen and (max-width: 1050px) {
  .artist-info-section .artist-container .left .name {
    font-size: 38px;
  }
}
.artist-info-section .artist-container .left .stats {
  display: flex;
  width: 510px;
  gap: 20px;
  align-items: flex-start;
}
@media screen and (max-width: 690px) {
  .artist-info-section .artist-container .left .stats {
    width: 315px;
  }
}
.artist-info-section .artist-container .left .stats .volume,
.artist-info-section .artist-container .left .stats .sold,
.artist-info-section .artist-container .left .stats .followers {
  width: 100%;
}
.artist-info-section .artist-container .left .stats .volume h5,
.artist-info-section .artist-container .left .stats .sold h5,
.artist-info-section .artist-container .left .stats .followers h5 {
  font-family: "Space Mono";
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
}
@media screen and (max-width: 1050px) {
  .artist-info-section .artist-container .left .stats .volume h5,
.artist-info-section .artist-container .left .stats .sold h5,
.artist-info-section .artist-container .left .stats .followers h5 {
    font-size: 22px;
  }
}
.artist-info-section .artist-container .left .stats .volume p,
.artist-info-section .artist-container .left .stats .sold p,
.artist-info-section .artist-container .left .stats .followers p {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}
@media screen and (max-width: 1050px) {
  .artist-info-section .artist-container .left .stats .volume p,
.artist-info-section .artist-container .left .stats .sold p,
.artist-info-section .artist-container .left .stats .followers p {
    font-size: 16px;
  }
}
.artist-info-section .artist-container .left .bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.artist-info-section .artist-container .left .bio .bio-head {
  color: #858584;
  font-family: "Space Mono";
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
}
@media screen and (max-width: 1050px) {
  .artist-info-section .artist-container .left .bio .bio-head {
    font-size: 16px;
  }
}
.artist-info-section .artist-container .left .bio .artist-bio {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}
@media screen and (max-width: 1050px) {
  .artist-info-section .artist-container .left .bio .artist-bio {
    font-size: 16px;
  }
}
.artist-info-section .artist-container .left .link p {
  color: #858584;
  font-family: "Space Mono";
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
}
@media screen and (max-width: 1050px) {
  .artist-info-section .artist-container .left .link p {
    font-size: 16px;
  }
}
.artist-info-section .artist-container .left .link .links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.artist-info-section .artist-container .right .copy-follow {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 690px) {
  .artist-info-section .artist-container .right .copy-follow {
    flex-direction: column;
  }
}
.artist-info-section .artist-container .right .copy-follow .chain-id {
  width: 186px;
  height: 60px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #a259ff;
  cursor: pointer;
  gap: 10px;
  transition: 0.3s;
}
.artist-info-section .artist-container .right .copy-follow .chain-id:hover {
  transform: scale(0.95);
}
@media screen and (max-width: 690px) {
  .artist-info-section .artist-container .right .copy-follow .chain-id {
    width: 100%;
  }
}
.artist-info-section .artist-container .right .copy-follow .follow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 30px;
  gap: 12px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.artist-info-section .artist-container .right .copy-follow .follow:hover {
  transform: scale(0.95);
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 690px) {
  .collection {
    min-width: 375px;
  }
}
.collection .border-line {
  width: 100%;
  height: 1px;
  background-color: #3b3b3b;
}
.collection .collection-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1050px;
}
@media screen and (max-width: 1050px) {
  .collection .collection-container {
    width: 690px;
  }
}
@media screen and (max-width: 690px) {
  .collection .collection-container {
    width: 315px;
  }
}
.collection .collection-container .created,
.collection .collection-container .owned,
.collection .collection-container .artist-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 30px;
  gap: 16px;
  flex: 1 0 0;
  cursor: pointer;
}
.collection .collection-container .created:hover p,
.collection .collection-container .owned:hover p,
.collection .collection-container .artist-collection:hover p {
  color: rgba(255, 255, 0, 0.42);
}
@media screen and (max-width: 690px) {
  .collection .collection-container .created,
.collection .collection-container .owned,
.collection .collection-container .artist-collection {
    padding: 0px 10px;
  }
}
.collection .collection-container .created .quantity,
.collection .collection-container .owned .quantity,
.collection .collection-container .artist-collection .quantity {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  border-radius: 20px;
  background-color: #858584;
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
@media screen and (max-width: 690px) {
  .collection .collection-container .created .quantity,
.collection .collection-container .owned .quantity,
.collection .collection-container .artist-collection .quantity {
    display: none;
  }
}
.collection .collection-container .created p,
.collection .collection-container .owned p,
.collection .collection-container .artist-collection p {
  color: #858584;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  transition: 0.3s;
}
@media screen and (max-width: 690px) {
  .collection .collection-container .created p,
.collection .collection-container .owned p,
.collection .collection-container .artist-collection p {
    font-size: 16px;
  }
}
.collection .collection-container .created {
  border-bottom: 3px solid #858584;
}
.collection .collection-container .created p {
  color: white;
}

.nft-cards-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  gap: 30px;
  align-self: stretch;
}
@media screen and (max-width: 690px) {
  .nft-cards-section {
    min-width: 375px;
  }
}
.nft-cards-section .nft-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media screen and (max-width: 1050px) {
  .nft-cards-section .nft-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 690px) {
  .nft-cards-section .nft-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.subhead {
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  .subhead {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 690px) {
  .subhead {
    padding: 40px 0px;
    min-width: 375px;
  }
}
.subhead .subhead-container {
  width: 1050px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1050px) {
  .subhead .subhead-container {
    width: 680px;
  }
}
@media screen and (max-width: 690px) {
  .subhead .subhead-container {
    width: 315px;
  }
}
.subhead .subhead-container .headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchbar {
  display: flex;
  width: 1050px;
  height: 60px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #3b3b3b;
}
@media screen and (max-width: 1050px) {
  .searchbar {
    width: 680px;
  }
}
@media screen and (max-width: 690px) {
  .searchbar {
    width: 315px;
  }
}
.searchbar form {
  width: 960px;
  background: transparent;
  outline: none;
  border: none;
  color: white;
}
.searchbar .searchInput {
  width: 960px;
  background: transparent;
  outline: none;
  border: none;
  color: white;
}
@media screen and (max-width: 1050px) {
  .searchbar .searchInput {
    width: 590px;
  }
}
@media screen and (max-width: 690px) {
  .searchbar .searchInput {
    width: 230px;
  }
}

.skip-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 100px;
}
.skip-btn img {
  width: 30px;
  height: 30px;
  transition: 0.2s;
}
.skip-btn img:hover {
  transform: scale(1.1);
}

.sidebar {
  display: none;
  z-index: 1000;
  top: 0;
  right: 0;
  position: absolute;
}
.sidebar a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 1050px) {
  .sidebar {
    padding: 10px;
    height: 280px;
    border-radius: 5px;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-decoration: none;
    background-color: rgb(67, 67, 67);
  }
}
.sidebar .signup {
  margin-top: 30px;
  width: 100%;
  height: 50px;
}