@font-face {
    font-family: "Work Sans";
    src: url("../../fonts/WorkSans-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Work Sans";
    src: url("../../fonts/WorkSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Space Mono";
    src: url("../../fonts/SpaceMono-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Space Mono";
    src: url("../../fonts/SpaceMono-Bold.ttf") format("truetype");
    font-weight: 700;
}